name: Deploy MkDocs

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

env:
  UV_VERSION: "0.9.21"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up uv and Python
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          enable-cache: true
          version: ${{ env.UV_VERSION }}

      - name: Install docs dependencies
        run: |
          uv sync


      - name: Deploy
        run: uv run mkdocs gh-deploy --force
